body{
    background-color:aqua;
    border-width: 2px;
    border-style: none;
    padding: 10px;

}
header{
    background-color:blue;
    color:white;
    padding: 15px;
    margin: 5px;
}
nav{
    background-color: red;
    color: black;
    padding: 10px;
    margin: auto;
    width: 50%;
    text-align: center;

}
section{
    padding: 20px;
}

h1.titulo{
    text-align: center;
    font-family: Arial, forte;
}
h2.tituloNom{
    text-align: center;
    font-family: Arial, forte;
    font-weight: bolder;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: x-large;
}
h3.subtitulo{
    font-family: "Arial Black";
    color: black;
    
}
p.texto{
    font-family: "Comic Sans MS";
    font-size: large;
}
li.habilidades{
    font-family: "Kristen ITC","Comic Sans MS", forte;
    font-weight: bolder;
}
p.autor{
    font-family: cursive;
}
table{
    width:50%;
    
}
th, td{
    text-align: center;
    vertical-align: bottom;
    border: 2px solid #000;  
    font-family: "Comic Sans MS";
    font-size: large;
    font-weight: bold;
    
}
td.centro{
    text-align: center;
    vertical-align: top;
    font-family: "Kristen ITC";
    font-size: x-large;
    font-weight: bolder;
    
}
td.middle{
    vertical-align: middle;
}
