body{
    background-color:aqua;
}
header{
    background-color:blue;
    color:white;
    padding: 15px;
    margin: 5px;
}
nav{
    background-color: red;
    color: black;
    padding: 10px;
    margin: auto;
    width: 50%;
    text-align: center;

}

h1.titulo{
    text-align: center;
    font-family: Arial, forte;
}
h2.tituloNom{
    text-align: center;
    font-family: Arial, forte;
}
h3.subtitulo{
    text-align: center;
    font-family: "Arial Black";
    color: black;
}
p.texto{
    font-family: "Comic Sans MS";
}
li.habilidades{
    font-family: forte;
}
p.autor{
    font-family: cursive;
}
