/*Metodologia BEM*/
body{
    /*background-color:aqua;*/
    border-width: 2px;
    border-style: none;
    padding: 10px;
}

header{
    background-image: url("../icon/imagenPortada.jpg");
    border-radius: 10px;
    background-color:blue;
    color:white;
    padding: 40px;
    margin: 5px;
}
.header__titulo{
    text-align: center;
    font-family: Arial, forte;
    text-shadow: 10px -10px 2px rgb(22, 20, 151);
    text-transform:capitalize;
}
.div_nav ul{
    list-style-type: none;
    background-color: #023047;
    border-radius: 5px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.div_nav ul li{
    float: left;
}
.div_nav ul li a{
    text-decoration: none;
    display: block;
    color: white;
    font-size: large;
    padding: 20px;
}
.div_nav ul li a:hover{
    background-color: #219ebc;
}
.nav__contacto{
    /*background: #2BA4BD none repeat scroll 0 0;*/
    text-align: center; 
    /*border: 1px solid #aaa;*/ 
    font-size: 95%;    
    margin-bottom: 1em;    
    padding: 20px;    
    width: auto;
    display: block;
}
section{
    padding: 20px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: x-large;
}

p{
    font-family: "Comic Sans MS";
    font-size: large;
    text-align: justify;
}
.ol__habilidades{
    font-family: 'Comic Neue', "Kristen ITC","Comic Sans MS";
    font-weight: bolder;
    float: left;
}
.p__autor{
    font-family: cursive;
    text-align: center;
}
.nav_table{
    border-collapse:separate;
    border-spacing: 10px 10px;
    width: 100%; 
}

table{
    border-collapse:separate;
    border-spacing: 10px 10px;
    /*border: 1px solid gray;*/
    width:100%;  
}
th, td{
    text-align: center;
    vertical-align: bottom;
    border: 2px solid #000;  
    font-family: "Comic Sans MS";
    font-size: large;
    font-weight: bold;
}
th{
    background-color: #ffb600;
}
tr{
    background-color: #f5ffc6;
}
.centro{
    text-align: center;
    vertical-align: top;
    font-family: "Kristen ITC";
    font-size: x-large;
    font-weight: bolder;
}
.middle{
    vertical-align: middle;
}
footer{
    text-align: center;
    background-color:#000;
    color: white;
    border-radius: 10px;
}
/*hover: cuando el cursor pasa sobre el*/
a:hover{
    color:#006400;
    text-decoration: underline;
    
}
article{
    background-color: aqua;
    border-radius: 10px;
}
caption{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    border-style:dashed;
    
    
}
