body{
    background-color: black;
    background-image: url("../icon/iroman.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
div{
    border: 20px groove blue;
    border-radius: 10px;
    font-family:  "Kristen ITC";
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    padding: 1px 50px 1px 50px;
    margin: auto;
    color: #59a5d8;
}

#div__h2{
    color: red;
}
@media(max-width:600px){
    
    #div__h2{
        font-size: large;
    }
}